@page "/{CourseId:guid}/activity/{ActivityId:guid}"
<h3>Activity</h3>

@if(ActivityDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @ActivityDto.Name
            </dt>
            <dd class="col-sm-10">
                @ActivityDto.Description
            </dd>
            <dt class="col-sm-2">
                Start time
            </dt>
            <dd class="col-sm-10">
                @ActivityDto.StartTime
            </dd>
            <dt class="col-sm-2">
                End time
            </dt>
            <dd class="col-sm-10">
                @ActivityDto.EndTime
            </dd>
        </dl>
    </div>
}