@page "/admin"
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@using LexiconLMS.Shared.Dtos
@inject IUserService UserService
@attribute [Authorize]

<h3>Admin</h3>

<div class="container">

    <main role="main" class="pb-1">

        <h1>Admin Panel</h1>

        <div>
            <h3>Navigate on the left menu.</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link active" id="#" aria-current="page" href="#">Create User</a></li>
                        <li class="nav-item"><a class="nav-link" id="#" href="#">Edit User</a></li>
                        <li class="nav-item"><a class="nav-link" id="#" href="#">Placeholder :)</a></li>
                    </ul>

                </div>
                <div class="col-md-9">

                    <h3>Profile</h3>


                    <div class="row">
                        <div class="col-md-6">
                            <form id="profile-form" method="post" novalidate="novalidate">

                                <div class="form-floating mb-3">
                                    <input class="form-control" placeholder="Please choose your username." disabled="" type="text" id="Username" name="Username" value="admin@lms.com">
                                    <label class="form-label" for="Username">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" placeholder="Please enter your phone number." type="tel" data-val="true" data-val-phone="The Phone number field is not a valid phone number." id="Input_PhoneNumber" name="Input.PhoneNumber" value="">
                                    <label class="form-label" for="Input_PhoneNumber">Phone number</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.PhoneNumber" data-valmsg-replace="true"></span>
                                </div>
                                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Eoq6zSZwCxNhzdwmTRCAbYhW5etSFLcFE6p4DasKbulxY7A_GFsgGJxeVB__i-VVaIG3tJsSIs4LJx-wmTGLhxNJ2C9aLQBaHLIL8Sgr4EKZE8YH4Wvd11Ek7Y_Pdaled9WVF-JGR2eiJLloPo2aB6U8xZBxKoswlApDYT8sF-3DGgUjZTZwXjwVu-8p8mN5A">
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </main>
</div>


@code {

}
