@page "/courses"

<h3>Courses</h3>

@if (CourseList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var coursesViewDto in CourseList)
            {
                <tr>

                    <td scope="row" >
                        <a class="no-padding-lms" href="@($"courses/{coursesViewDto.Id}")">@coursesViewDto.Name</a> @* ToDo: Ref to (Modules) *@
                    </td>
                    <td scope="row">
                        @coursesViewDto.StartDate.ToString("yyyy-MM-dd")
                    </td>
                    <td scope="row">
                        @coursesViewDto.EndDate.ToString("yyyy-MM-dd")
                    </td>

                </tr>
            }
            </tbody>
        </table>
}