@page "/CourseAdd"

<h3>CourseAdd</h3>


<form onsubmit="@(async () => await CreateCourseAsync())">

    <div>
        <label for="Name">Course name:</label>
        <input type="text" id="Name" @bind="CourseToAdd.Name" />
    </div>

    <div>
        <label for="Description">Course description:</label>
        <input type="text" id="Description" @bind="CourseToAdd.Description" />
    </div>

    <div>
        <label for="StartDate">Course start date:</label>
        <InputDate id="StartDate" @bind-Value="CourseToAdd.StartDate" />
    </div>
    
    <div>
        <label for="EndDate">Course end date:</label>
        <InputDate id="EndDate" @bind-Value="CourseToAdd.EndDate" />
    </div>

    <button type="submit">Create</button>
</form>


@code {

}
