@page "/edituser"
@using Microsoft.AspNetCore.Authorization
@using LexiconLMS.Shared.Dtos
@using LexiconLMS.Client.Services
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>EditUser</h3>

<select @onchange="OnUserSelected">
    <option value="">Select a user...</option>
    @foreach (var user in users)
    {
        <option value="@user.Key">@user.Value</option>
    }
</select>

@if (selectedUser != null)
{
    <EditForm Model="selectedUser" OnValidSubmit="HandleValidSubmit">
        <InputText @bind-Value="selectedUser.FirstName" />
        <InputText @bind-Value="selectedUser.LastName" />
        <InputText @bind-Value="selectedUser.Email" />

        <button type="submit">Save Changes</button>
    </EditForm>
}

@if (!string.IsNullOrEmpty(updateStatusMessage))
{
    <div class="alert alert-info">@updateStatusMessage</div>
}

@code {

}
