@inherits LayoutComponentBase

<!--Common MainLayout.razor top navbar, can refactor to smaller components-->
<div class="page">


        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <img src="/Images/LoggaLMS.png" alt="Logo" class="logo" />

                <!-- Include the HamburgerMenu component here -->
                <HamburgerMenu />

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto nav-padding">
                    <li class="nav-item">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                            </svg>
                            <a class="nav-link navbar-style" href="#">Home</a>
                        </div>

                    </li>

                    <li class="nav-item">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                            </svg>
                            <a class="nav-link navbar-style" href="/Courses">Courses</a>
                        </div>

                    </li>
                        
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <li class="nav-item">
                                <NavLink class="nav-link navbar-style" href="/admin">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin Panel
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>

                    <ul class="navbar-nav">
                        <LoginDisplay/>
                    </ul>
                </div>
            </div>
        </nav>
</div>
        
<!--Admin panel sidebar-->
<div class="admin-page padding-mainlayout">
    <div class="admin-sidebar">
        <h3>Admin Panel</h3>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link-admin" href="/admin">Create User</a></li>
            <li class="nav-item"><a class="nav-link-admin" href="/edituser">Edit User</a></li>
            <li class="nav-item"><a class="nav-link-admin" href="/CourseAdd">Add Course</a></li>
            <li class="nav-item"><a class="nav-link-admin" href="/Courses">Go to Teacher Panel</a></li>
        </ul>
    </div>
 <!--Admin panel content -->
    <div class="admin-content">
      @*   <h1>Navigate on the left menu.</h1> *@
        @Body
    </div>
</div>


