<!-- HamburgerMenu.razor -->
<button @onclick="ToggleMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    ☰
</button>

@if (isMenuOpen)
{
    <div class="menu">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" @onclick="CloseMenu">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" @onclick="CloseMenu">Courses</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <LoginDisplay />
        </ul>
    </div>
}

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private void CloseMenu()
    {
        isMenuOpen = false;
    }
}