@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <img src="/Images/LoggaLMS.png" alt="Logo" class="logo" />

                <!-- Include the HamburgerMenu component here -->
                <HamburgerMenu />

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto nav-padding">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Courses">Courses</a>
                        </li>
                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="/admin">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin Panel
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                    <ul class="navbar-nav">
                        <LoginDisplay/>
                    </ul>
                </div>
            </div>
        </nav>
        <article class="content px-4 ">
            @Body
        </article>
    </main>
</div>